<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <div class="col-md-9">
      <h1 class="title">
        {{ project.title }}
      </h1>
    </div>
    <div class="col-md-3">
      <h3><i class="fa fa-{{project.api}} fa-2x"></i></h3>
      <h5>Progress</h5>
      <progressbar animate="false" value="project.progress" type="success"><b>{{project.progress}}%</b></progressbar>
    </div>
  </div>
</header>

<div class="container">
  <div class="col-md-9">
    <ul class="updates">
      <li class="update" ng-repeat="update in updates | orderBy:update_predicate">
        <h2 class="page-header">{{update.title}} <span class="pull-right"><img src="{{update.creator.avatar}}" class="creator"></span></h2>
        <p class="updatecreateAt">{{update.createAt}}   #{{update.id}}</p>
        <p>{{update.desc}}</p>

      </li>
    </ul>
    <h2>
  </div>
  <div class="col-md-3">
    <h3 class="page-header">Members <span class="pull-right more"><a href="#">More</a></span></h3>
    <ul class="members row">
      <li class="member col-md-3" ng-repeat="member in members">
        <a href="#" class="thumbnail member-thumbnail">
          <img src="{{ member.avatar }}" alt="">
        </a>
      </li>
      <li class="member col-md-3">
        <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Join
        </button>
      </li>
    </ul>
    <h3 class="page-header">Issues <span class="pull-right more"><a href="#">More</a></span></h3>
    <ul class="issues row">
      <li class="issue row" ng-repeat="issue in issues">
        <p>Issue #{{issue.id}}</p>
        <h5><a href="#">{{issue.title}}</a> <span class="label label-{{issue.label}} pull-right">{{issue.label}}</span></h5>
      </li>
    </ul>
  </div>
</div>

<style>
ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 0px;
}

header {
  margin-bottom: 40px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.more {
  font-size: 14px;
}

.project {
  margin: 10px 0px 20px 0px;
}

.projects h3 {
  display: inline-block;
  margin-left: 20px;
}

.projects h3 span {
  font-size: 10px;
}
.member-thumbnail {
  width: 60px;
}

li.member button {
  margin-top: 10px;
  margin-left: 5px;
}

.creator {
  width: 40px;
  border-radius: 100px;
}
</style>