<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1 class="editable editable-click" id="projectname">{{project.title}}</h1>
    <p class="editable editable-click" id="projecttitle">{{project.desc}}</p>
    <!-- <p ng-click="editText();"><button class="btn btn-default">edit</button></p> -->
  </div>
</header>

<div class="container">
  <div class="col-md-12">
    <div class="col-md-8">
      <h3 class="page-header">Updates</h3>
      <ul>
        <li class="update" ng-repeat="update in updates">
          <h4>#{{update.id}} <a href="/{{project.url}}/updates/{{update.id}}">{{update.title}}</a></h4>
          <p>{{update.desc}}</p>
        </li>
      </ul>  
    </div>
    <div class="col-md-4">
      <div class="row">
        <h3 class="page-header">Progress</h3>
        <progressbar class="progress-striped active" value="project.progress" type="info">{{project.progress}}</progressbar>
      </div>
      <div class="row">
        <h3 class="page-header">Issues</h3>
        <ul>
          <li class="issue" ng-repeat="issue in issues">
            <h6><a href="/{{project.url}}/issues/{{issue.id}}">{{issue.title}}</a><span class="label label-{{issue.label}} pull-right">{{issue.label}}</span></h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>

<style>
ul {
  list-style: none;
  padding-left: 10px;
}

.update {
  margin-bottom: 20px;
}

.issue {

}
</style>
<script>
</script>